h1, h2, h3, h4, h5 {
	margin: 10px 0;
}

div.modal div.messages {
	width: 95%;
	margin: 0 auto;
}

div.modal div.messages div.alert {
	padding: 10px;
}

form span.desc {
	font-size: 11px;
	text-transform: uppercase;
	color: #999;
}

form label {
	margin-top: 2px;
	margin-bottom: 2px;
}