{% extends "base.html" %}
{% set active_page = "storages" %}
{% block body %}
<h3>Storages</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-sm-4">Name</th>
			<th class="col-sm-4">Path</th>
			<th class="col-sm-2">Tasks</th>
			<th class="col-sm-1">Explore</th>
			<th class="col-sm-1">Delete</th>
		</tr>
	</thead>
	<tbody>
		{% for storage in storages %}
		<tr>
			<td><a href="#" class="storage-name" data-pk="{{ storage.id }}">{{ storage.name }}</a></td>
			<td>{{ storage.path }}</td>
			<td>{{ storage.tasks|count }}</td>
			<td>Go</td>
			<td><a href="#" class="del-storage" data-pk="{{ storage.id }}">Delete</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="text-right">
	<button class="btn btn-primary btn-s" data-toggle="modal" data-target="#add-storage">Add new storage</button>
</div>

<form id="add-storage-form" method="post" action="{{ url_for('phantom.storages') }}">
	{{ add_form.csrf_token }}
	<div id="add-storage" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add new storage</h4>
				</div>
				<div class="messages"></div>
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-4">
							<label>{{ add_form.name.label }}</label>
							{{ add_form.name(size=20, class="form-control", placeholder=add_form.name.label.text) }}
						</div>
						<div class="col-xs-8">
							<label>{{ add_form.path.label }}</label>
							{{ add_form.path(size=20, class="form-control", placeholder=add_form.path.label.text) }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block script %}
<script>
	var URL_STORAGES = '{{ url_for('phantom.storages') }}';
	var FORM_ELEMENTS = [{% for element in add_form %}'{{ element.name }}',{% endfor %}];
</script>
<script src="{{ url_for('static', filename='js/ext/storages.js') }}"></script>
{% endblock %}