<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"> 
	<title>Welcome to Phantom!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/site.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/disk.css') }}">
	<!--[if lt IE 9]>
		<script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
		<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
	<![endif]-->
</head>
<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ url_for('phantom.index') }}">Phantom</a>
			</div>
			<div class="navbar-collapse collapse">
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class="flashes">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		
	</div>
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.pjax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- <script src="{{ url_for('static', filename='js/site.min.js') }}"></script> -->
	<script>{% block script %}{% endblock %}</script>
</body>
</html>